@import "_variables";

.header__heading {
  margin : 0;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 5px;
  border: solid 1px #ffffff;
  box-sizing: border-box;
  order: 1;
}

.header__conatiner {
  @include flex-row;
}

.nav > .nav__menu {
 transform: translateX(300%);
 transition: .4s;
}

.header__label {
  background-image: url('../../assets/menu.svg');
  width: 28px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  span {
    display: none;
  }
  order: 3;
}

input {
  visibility: hidden;
}

[type="checkbox"]:checked ~ .nav > .nav__menu {
  transform: translateY(0);
}

.nav__menu > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}


@media (min-width: 720px) {
  .nav__menu {
    @include reset-nav;
    display: block;
  }
}