@import "variables.scss";

body {
  background-color : #181719;
  color : $textColor;
  padding: 1rem;
  max-width : 1440px;
  margin : auto;
}

.article {
  padding-top : 15%;
}

.article__pictures {
  position : relative;
  font-family : Lora;
}

.picture__profile {
  background-color: #181719;
  position: absolute;
  bottom: -20%;
  right: 5%;
  width : calc(100% * 300 / 390);
  padding : 1rem;
  box-shadow: 2px 2px 1px #111111;
  padding-bottom: 2rem;
}

.picture__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile__photo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__paragraph {
  padding-inline-start: 2rem;
}

a {
  transition: .3s;
}

a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 5px #c2c1c1;
  padding: .5rem;
}

@media (min-width : $min-width-media) {
  .article {
    display : grid;
    grid-template-columns : 1fr 1fr;
    gap : 1rem;
    position: relative;
  }

  .picture__profile {
    width : calc(100% * 410 / 821);
    box-shadow: none;
  }
}