@import "variables.scss";

.header__heading {
  margin : 0;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 5px;
  border: solid 1px #ffffff;
  box-sizing: border-box;
  order: 1;
}

.header__conatiner {
  @include flex-row;
}

@media (min-width : 720px) {
  .header__conatiner {
    align-items : center;
  }
}