@import "variables.scss";

.masthead__container {
  max-width: 410px;
}

.masthead__heading {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  margin : 0;
}

.masthead__anchor,
.masthead__paragraph {
  font-family: Montserrat;
  font-style: normal; 
}
.masthead__paragraph {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 48px;
}

.masthead__anchor {
  font-weight: 600;
  display: block;
  width: 141px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  line-height: 22px;
  background-image: url(../assets/arrow.svg);
  background-position : 117px center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-block  : 2rem;
}