@mixin reset-nav {
  ul {
    @include flex-row;
    padding : 0;
    li {
      list-style: $list-style;
    }
    a {
      @include anchor
    }
  }
}

@mixin  anchor {
  text-decoration : none;
  color: $textColor;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22p
}

@mixin flex-row {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
}

$textColor : #ffffff;
$list-style : none;
$min-width-media : 760px;